<script>

</script>
    <div class="unitcard-container">
      <div class="card-body">
        <h2 class="card-title">Contributors</h2>
        <div class="flex flex-wrap justify-center">
          <a href="https://github.com/edeleastar" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/557508?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Eamonn De Leastar</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/cdunphy" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/26001100?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Colm Dunphy</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/jordharr" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/76656637?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Jordan Harrison</h2>
              </div>
            </div>
          </a>
          <a href="https://github.com/ekidneyrh" target="_blank">
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://avatars.githubusercontent.com/u/87311656?s=70&v=4"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Emma Kidney</h2>
              </div>
            </div>
          </a>
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src=""></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Ellen O'Carrol</h2>
              </div>
            </div>
            <div class="card text-center shadow-2xl bg-base-100 w-72 p-8 m-2">
              <div>
                <div class="avatar">
                  <div class="rounded-full w-14 h-14 shadow"><img
                      src="https://ca.slack-edge.com/TEL752280-UEN0YN2NT-a2e16b2824c2-192"></div>
                </div>
              </div>
              <div>
                <h2 class="card-title">Pete Windle</h2>
              </div>
            </div>
        </div>
      </div>
    </div>